<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-unchecked"></span> Poducteurs</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <button *ngFor="let production of productions; let i = index" (click)="onViewProduction(i)">
            <div class="col-xs-5">
              <img class="img-responsive" *ngIf="production.photo" [src]="production.photo">
            </div>
            <div class="col-xs-6">
              <h4 class="product-name"><strong>{{production.title}}</strong></h4>
              <h4><small>{{production.reference}}</small></h4>
            </div>
          </button>
          <div class="panel-footer">
            <div class="row text-center">
              <div class="col-xs-3">
                <button class="btn btn-info" (click)="onNewProduction()">Nouveau producteur</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
