<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Enregistrer un nouvel automatisme</h2>
    <form *ngIf="automationForm" [formGroup]="automationForm" (ngSubmit)="onSaveAutomation()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="title">Nom du produit</label>
            <input type="text" class="form-control" id="title" placeholder="Nom" formControlName="title">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="reference">Référence du produit</label>
            <input type="text" class="form-control" id="reference" placeholder="Reference" formControlName="reference">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="ampere">Entrer la consomation max en Ampère</label>
            <input type="number" step="1" min="0" max="100" value="0" class="form-control" id="ampere" placeholder="Courant" formControlName="ampere">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="cycleTime">Entrer le temps d'une manouvre d'ouverture en Seconde</label>
            <input type="number" step="1" min="0" max="100" value="0" class="form-control" id="cycleTime" placeholder="Temps de cycle" formControlName="cycleTime">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="type">Type du produit:</label>
            <select class="form-control" id="type" placeholder="Type" formControlName="type">
              <option>Automatisme</option>
              <option>Accessoire</option>
              <option>Sécurité</option>
            </select>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="standBy">Entrer la consomation en Stand-By en Ampère-heure</label>
              <input type="number" step="1" min="0" max="100" value="0" class="form-control" id="standBy" placeholder="Consomation à l'arret" formControlName="standBy">
            </div>
          </div>
        </div>
        <img style="max-width:400px;" *ngIf="photo" [src]="photo">
        <div class="form-group">
          <h4>Ajouter/Modifier une photo</h4>
          <button (click)="clearFiles($event)" *ngIf="fileDecteted" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove">
          </span>
          </button>
          <input #productionPhoto [disabled]="fileDecteted"
                  type="file" (change)="detectFiles($event)"
                  class="form-control"
                  accept="image/*"
                  id="productionPhoto">
          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
        </div>
      <button class="btn btn-success" [disabled]="automationForm.invalid" type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
