<div class="row">
  <div class="col-xs-12">
    <h2>Consomateurs enregistrés</h2>
    <div class="list-group">

      <button class="llist-group-item"
              *ngFor="let automation of automations; let i = index"
              (click)="onViewAutomation(i)">
        <img style="max-width:400px;" *ngIf="automation.photo" [src]="automation.photo">
        <h3 class="list-group-item-heading">
        {{automation.title}}
        </h3>
        <p class="list-group-item-text">{{automation.reference}}</p>
      </button>
    </div>
    <button class="btn btn-ptimary"
            (click)="onNewAutomation()">Nouveau consomateur
    </button>
  </div>
</div>
