<div class="container">
  <div class="row">
    <div class="col-xs-8" center>
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-unchecked"></span> Consommateurs</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <button *ngFor="let automation of automations; let i = index" (click)="onViewAutomation(i)">
            <div class="col-xs-5">
              <img class="img-responsive" *ngIf="automation.photo" [src]="automation.photo">
            </div>
            <div class="col-xs-6">
              <h4 class="product-name"><strong>{{automation.title}}</strong></h4>
              <h4><small>{{automation.reference}}</small></h4>
            </div>
          </button>
          <div class="panel-footer">
            <div class="row text-center">
              <div class="col-xs-3">
                <button type="button" class="btn btn-info" (click)="onNewAutomation()">
                  Nouveau Consomateur
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
